@tailwind base;
@tailwind components;
@tailwind utilities;



.carousel-item {
    display: none; /* Secara default, sembunyikan semua slide */
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    height: 100vh;
    min-height: 400px; /* Tambahan fallback */
}

.carousel-open:checked + .carousel-item {
    display: block; /* Tampilkan slide yang aktif */
    position: static;
    opacity: 1;
}


#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3 {
    display: block;
}

.carousel-indicators {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}

#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
    color: #000;
    /*Set to match the Tailwind colour you want the active one to be */
}